body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: white; /* Reset background color */
}

#content {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os botões */
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#yesButton {
    background-color: green;
    color: white;
}

#noButton {
    background-color: red;
    color: white;
}
